@media (min-width: 960px){
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

    /*____________Fin reset Meyer*/
    body,html{
    	width: 100%;
    	height: 100%;
      font: 1.5em/150%, 'Neuton', serif;
      color: white;
    }

    /*________________*/
    h1{
        /*centrage du titre*/
        height: 0;
        left: 0;
        position: fixed;
        z-index: 2000;
        right: 0;
        text-align: center;
        top: 3vh;
    }

    h1 a{
        color: white;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 6vh;
    }

    #nav{
        position: fixed;
        z-index: 1000;
        top: 0%;
        min-height: 12.5vh;
        width: 100%;
        background-color: rgb(110,33,33);
    }

    #nav>a{/*open nav*/
        color: white;
        font-size: 0;
        margin-left: 3%;
    }

    nav>a>i.material-icons{
      font-size:6vh;
      margin-top: 3vh;
    }

    nav h2{
      font-size: 0;
      position: absolute;
    }

    #nav > ul{
        display: none;
        margin-top: 3.4vh;
    }

    #nav:target > ul{
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #nav > ul > li{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 6vh;
        min-height: 12.5vh;
    }

    #nav > ul > li a {
      /*permet de centrer les croix*/
      margin: 0 auto;
    }

    ul li a i.material-icons{
      font-size: 4vh;
    }

    #nav > ul > li{
        text-shadow: 0.2vh 0.2vh black;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/4.jpg);
        background-size: 100%;
        -moz-transition: all 2s ease-in-out;
    }

    #nav > ul > li:nth-of-type(3){
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/1.jpg);
    }

    #nav > ul > li:nth-of-type(4){
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/2.jpg);
    }

    #nav > ul > li:nth-of-type(5){
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/g4.jpg);
    }

    #nav > ul > li:nth-of-type(6){
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/couverture.jpg);
    }

    #nav > ul > li:hover{
      background-size: 110%;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
    }

    #nav > ul > li:nth-child(odd){
        background-color: rgb(25,25,25);
    }

    #nav > ul > li:first-of-type, #nav > ul > li:last-of-type{
        background: none;
        background-color: rgb(41,44,46);
        text-shadow: none;
    }

    #nav > ul > li a{
        color: white;
        text-decoration: none;
    }

    nav ul li:first-of-type a,nav ul li:last-of-type a{/* close nav*/
        font-size: 0;
    }

    ul li a i{
      width: 4vh;
      height: 4vh;
      border: 0.3vh solid white;
      border-radius: 50%;
    }

    i.material-icons:active{
      /*border: 0.3vh solid rgb(136,136,136);*/
      color: rgb(136,136,136);
    }

    /*_______fin burger*/
    /*page index*/

    html{/*img couverture*/
        background: url(../img/couverture.jpg) no-repeat center fixed;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
    }

    a.readMore{/*flèche svg*/
        font-size: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        right: 0;
        text-align: center;
        top: 90vh;
        color: white;
        animation: move 1.2s infinite;
    }

    @keyframes move{
      from{
        transform: translateY(0vh);
      }
      50%{
        transform: translateY(1vh);
      }
      to{
        transform: translateY(0vh);
      }
    }

    a.readMore i{
      font-size: 10vh;
    }

    section.container{
        z-index: 2;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        border: 2vh solid white;
        border-bottom: none;
        font-size: 1.5rem;
        top: 100%;
        background-color: rgb(25,25,25);
    }

    section.container h2{
      font-size: 0;
      position: absolute;
    }

    section.container section{
      border-bottom: 2vh solid white;
    }

    section#groupDescription{
        background-color: rgb(136,136,136);
        padding: 3%;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.3em;
    }

    section section#groupDescription p{
        max-width: 50em;
        margin:0 auto;
        border-bottom: none;
    }

    section.container section h3{
      font-size: 0;
      position: absolute;
    }

    section.container section+section{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    section.container section div{
      width: 50%;
    }

    section.container section img{
      display: block;
      width: 100%;
      height: auto;
    }

    section.container section p{
      padding: 10%;
    }

    section.container section+section:nth-of-type(even) div:first-of-type{
      border-right: 2vh solid white;
    }

    section.container section+section:nth-of-type(odd) div:first-of-type{
      border-left: 2vh solid white;
    }

    section.container section+section:nth-of-type(odd) div{
      display: flex;
    }

    section.container section+section:nth-of-type(odd) div+div{
      order: -1;
    }
    /*fin page index*/
    /*Début gallerie.html*/

    html.no-bgd{
      background: none;
      background-color: black;
    }

    /*soundcloud*/
    section.song iframe{
      display: block;
      margin: 0 auto;
      position: relative;
      top: 15vh;
      width: 30%;
      height: auto;
    }

    section.song h2{
      font-size: 0;
      position: absolute;
    }

    section.picture h2{
      font-size: 0;
      position: absolute;
    }

    section.picture{
      text-align: center;
    }

    #images-box {
      display: block;
      max-width: 50vw;
      margin: 0 auto;
      position: relative;
      top: 20vh;
    }

    .image-lightbox img {
      width: 100%;
      height: 100%;
    }

    .holder {
      /*largeur et hauteur visible avant le target*/
      width: 40vh;
      height: 26.7vh;
      /*alignement*/
      display: inline-block;
      margin: 1vw;
    }

    .image-lightbox {
      width: inherit;
      height: inherit;
      border: 1vh solid white;
      /*position obligatoire si l'on veut zoomer dessus par la suite*/
      position: relative;
      top: 0;
      -webkit-transition: all ease-in 0.3s;
      -moz-transition: all ease-in 0.3s;
      -ms-transition: all ease-in 0.3s;
      -o-transition: all ease-in 0.3s;
    }

    .image-lightbox span {
      display: none;
    }

    .image-lightbox .expand {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      left: 0;
    }

    .image-lightbox .close {
      position: absolute;
      text-align: center;
      right: 10px; top: 10px;
    }

    .image-lightbox .close a {
      width: 24px;
      height: 24px;
      color: white;
      text-decoration: none;
      background: black;
      border: 0.2vh solid white;
      border-radius: 50%;
      font-weight: bold;
      float: right;
    }

    div[id^=image]:target {
      position: fixed;
      margin: auto;
      width: 80vh;
      height: 53.4vh;
      left: 1.75vh;
      right: 0;
      top: 1.75vh;
      bottom: 0;
      z-index: 2;
    }

    div[id^=image]:target .close {
      display: block;
    }

    div[id^=image]:target .expand {
      display: none;
    }

    /*fin galerie.html*/
    /*début liens.html*/
    section.liens h2{
      font-size: 0;
      position: absolute;
    }

    section.liens a{
      font-size: 0;
      background:url("../img/facebook.svg") no-repeat scroll center center / 15vh 15vh;
      width: 15vh;
      height: 15vh;
      left: 50%;
      margin-left: -7.5vh;
      position: absolute;
      top: 25%;
    }

    section.liens a.youtubeLogo{
      background: url("../img/youtube.svg") no-repeat scroll center center / 15vh 15vh;
      top: 50%;
    }

    section.liens a.souncloudLogo{
      background: url("../img/soundcloud.svg") no-repeat scroll center center / 15vh 15vh;
      top: 75%;
    }

    /*fin liens.html*/
    /*début pratique.html*/

    section.concert{
      max-width: 50vw;
      margin: 15vh auto 0;
      text-align: center;
    }

    section.concert h2,section.concert p,label,legend,input[type="submit"]{
      font-family: 'Montserrat', sans-serif;
      font-size: 2.75em;
      line-height: 3rem;
    }

    section.concert p{
      margin-top: 1em;
      font-size: 1em;
      line-height: 1em;
    }

    label,legend{
      font-size: 1vw;
      line-height: 1vw;
    }

    form>fieldset>legend{
      font-size: 1.75vw;
      background-color: grey;
      border: 0.3rem solid white;
      border-bottom: none;
    }

    form{
      margin-top: 2em;
    }

    label{
      width: 15%;
      line-height: 0.9em;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      cursor: pointer;
    }

    legend{
      padding: 0.5em;

      /*margin car petit bug dans chrome*/
      margin-left: 5%;
      line-height: 1em;
    }

    form>fieldset{
      background-color: grey;
    }

    fieldset>fieldset legend{
      font-size: 0;
      position: absolute;
    }

    fieldset:first-child{
      border: 0.3rem solid white;
      padding-top: 3em;
    }

    input{
      width: 70%;
      margin-bottom: 1.5rem;
      padding: 1em;
    }

    input[type="submit"]{
      background-color: #6E2121;
      color: white;
      margin-left: 15.5%;
      border: none;
      width: 73%;
      padding: 0.2em 0;
      cursor: pointer;
      font-size: 1.5em;
    }

    input:focus{
      outline:none;
      border:2px solid #6E2121;
    }

    /*fin pratique.html*/
    /*début bibliographie.html*/

    section.containerBiblio{
        margin-top: 12.5vh;
    }

    section.containerBiblio h2{
        font-size: 0;
        position: absolute;
    }

    section.containerBiblio section{
        box-sizing:border-box;
        border: 1vh solid white;
        border-right: none;
        border-bottom: none;
        width: 100%;
        height: 100%;

    }

    section.containerBiblio section div{
        box-sizing:border-box;
        display: inline-block;
        width: 50%;
        max-height: 300px;
        vertical-align: bottom;
    }

    section.containerBiblio section div:first-of-type{
        text-align: center;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(0,0,0,0.8);
        -moz-transition:all 0.3s ease-out;
        -webkit-transition:all 0.3s ease-out;
        -safari-transition:all 0.3s ease-out;
        transition:all 0.3s ease-out;
        border-right: 0.5vh solid white;
    }

    section.containerBiblio section div:first-of-type:hover{
        background-color: rgba(0,0,0,0.5);
        -moz-transition:all 0.3s ease-in;
        -webkit-transition:all 0.3s ease-in;
        -safari-transition:all 0.3s ease-in;
        transition:all 0.3s ease-in;
    }

    section.containerBiblio section div:nth-of-type(2){
        overflow-y: scroll;
        padding: 0 5%;
        background-color: rgba(136,136,136,0.8);
        border-left: 0.5vh solid white;
      }

    section.containerBiblio section div:nth-of-type(2) p{
        padding-bottom: 10em;
        text-shadow: 0.1em 0.1em black;
    }

    section.containerBiblio section div h3{
        line-height: 300px;
        height: 300px;
        display: inline-block;
        vertical-align: bottom;
    }
}

@media (max-width: 959px){
  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*____________Fin reset Meyer*/
  body,html{
    width: 100%;
    height: 100%;
    font: 1.5em/150%, 'Neuton', serif;
    color: white;
  }

  /*________________*/
  h1{
      /*centrage du titre*/
      height: 0;
      left: 0;
      position: fixed;
      z-index: 2000;
      right: 0;
      text-align: center;
      top: 3vh;
  }

  h1 a{
      color: white;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 6vh;
  }

  #nav{
      padding: 0;
      position: fixed;
      z-index: 1000;
      top: 0%;
      min-height: 12.5vh;
      width: 100%;
      background-color: rgb(110,33,33);
  }

  #nav>a{/*open nav*/
      color: white;
      font-size: 0;
      margin-left: 3%;
  }

  nav>a>i.material-icons{
    font-size:6vh;
    margin-top: 3vh;
  }

  nav h2{
    font-size: 0;
    position: absolute;
  }

  #nav > ul{
      display: none;
      margin-top: 2.4vh;
  }

  #nav:target > ul{
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: rgba(0, 0, 0, 0.9);
  }

  #nav > ul > li{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 6vh;
      min-height: 12.6vh;
      padding: 0;
  }

  #nav > ul > li a {
    /*permet de centrer les croix*/
    margin: 0 auto;
  }

  ul li a i.material-icons{
    font-size: 4vh;
  }

  #nav > ul > li{
      text-shadow: 0.2vh 0.2vh black;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/4.jpg);
      background-size: 100%;
      -moz-transition: all 2s ease-in-out;
  }

  #nav > ul > li:nth-of-type(3){
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/1.jpg);
  }

  #nav > ul > li:nth-of-type(4){
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/2.jpg);
  }

  #nav > ul > li:nth-of-type(5){
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/g4.jpg);
  }

  #nav > ul > li:nth-of-type(6){
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/couverture.jpg);
  }

  #nav > ul > li:hover{
    background-size: 110%;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
  }

  #nav > ul > li:nth-child(odd){
      background-color: rgb(25,25,25);
  }

  #nav > ul > li:first-of-type, #nav > ul > li:last-of-type{
      background: none;
      background-color: rgb(41,44,46);
      text-shadow: none;
  }

  #nav > ul > li a{
      color: white;
      text-decoration: none;
  }

  nav ul li:first-of-type a,nav ul li:last-of-type a{/* close nav*/
      font-size: 0;
  }

  ul li a i{
    width: 4vh;
    height: 4vh;
    border: 0.3vh solid white;
    border-radius: 50%;
  }

  i.material-icons:active{
    /*border: 0.3vh solid rgb(136,136,136);*/
    color: rgb(136,136,136);
  }

  /*_______fin burger*/
  /*page index*/

  html{/*img couverture*/
      background: url(../img/couverture.jpg) no-repeat center fixed;
      -webkit-background-size: cover; /* pour anciens Chrome et Safari */
      background-size: cover; /* version standardisée */
  }

  a.readMore{/*flèche svg*/
      font-size: 0;
      left: 0;
      position: fixed;
      z-index: 1;
      right: 0;
      text-align: center;
      top: 90vh;
      color: white;
      animation: move 1.2s infinite;
  }

  @keyframes move{
    from{
      transform: translateY(0vh);
    }
    50%{
      transform: translateY(1vh);
    }
    to{
      transform: translateY(0vh);
    }
  }

  a.readMore i{
    font-size: 10vh;
  }

  section.container{
      z-index: 2;
      position: absolute;
      text-align: center;
      box-sizing: border-box;
      border: 2vh solid white;
      border-bottom: none;
      font-size: 0.8rem;
      top: 100%;
      background-color: rgb(25,25,25);
  }

  section.container h2{
    font-size: 0;
    position: absolute;
  }

  section.container section{
    border-bottom: 2vh solid white;
  }

  section#groupDescription{
      background-color: rgb(136,136,136);
      padding: 10%;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.3em;
  }

  section section#groupDescription p{
      max-width: 50em;
      margin:0 auto;
      border-bottom: none;
  }

  section.container section h3{
    font-size: 0;
    position: absolute;
  }

  section.container section+section{
      font-size: 0.6rem;
      line-height: 1rem;
  }

  section.container section+section img{
    display: none;
  }

  section.container section img{
    display: block;
    width: 100%;
    height: auto;
  }

  section.container section+section{
    padding: 10%;
  }

  section.container section+section:nth-of-type(even) div:first-of-type{
    border-right: 2vh solid white;
  }

  section.container section+section:nth-of-type(odd) div:first-of-type{
    border-left: 2vh solid white;
  }

  section.container section+section:nth-of-type(odd) div{
    display: flex;
  }

  section.container section+section:nth-of-type(odd) div+div{
    order: -1;
  }
  /*fin page index*/
  /*Début gallerie.html*/

  html.no-bgd{
    background: none;
    background-color: black;
  }

  /*soundcloud*/
  section.song iframe{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 15vh;
    width: 30%;
    min-width: 250px;
    height: auto;
  }

  section.song h2{
    font-size: 0;
    position: absolute;
  }

  section.picture h2{
    font-size: 0;
    position: absolute;
  }

  section.picture{
    text-align: center;
  }

  #images-box {
    display: block;
    max-width: 70vh;
    margin: 0 auto;
    position: relative;
    top: 20vh;
  }

  .image-lightbox img {
    width: 100%;
    height: 100%;
  }

  .holder {
    /*largeur et hauteur visible avant le target*/
    width: 40vh;
    height: 26.7vh;
    /*alignement*/
    display: inline-block;
    margin: 1vw;
  }

  .image-lightbox {
    width: inherit;
    height: inherit;
    border: 1vh solid white;
    /*position obligatoire si l'on veut zoomer dessus par la suite*/
    position: relative;
    top: 0;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
  }

  .image-lightbox span {
    display: none;
  }

  .image-lightbox .expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
  }

  .image-lightbox .close {
    position: absolute;
    text-align: center;
    right: 10px; top: 10px;
  }

  .image-lightbox .close a {
    width: 24px;
    height: 24px;
    color: white;
    text-decoration: none;
    background: black;
    border: 0.2vh solid white;
    border-radius: 50%;
    font-weight: bold;
    float: right;
  }

  div[id^=image]:target {
    position: fixed;
    margin: auto;
    width: 60vh;
    height: 40.05vh;
    left: 1.75vh;
    right: 0;
    top: 1.75vh;
    bottom: 0;
    z-index: 2;
  }

  div[id^=image]:target .close {
    display: block;
  }

  div[id^=image]:target .expand {
    display: none;
  }

  /*fin galerie.html*/
  /*début liens.html*/
  section.liens h2{
    font-size: 0;
    position: absolute;
  }

  section.liens a{
    font-size: 0;
    background:url("../img/facebook.svg") no-repeat scroll center center / 15vh 15vh;
    width: 15vh;
    height: 15vh;
    left: 50%;
    margin-left: -7.5vh;
    position: absolute;
    top: 25%;
  }

  section.liens a.youtubeLogo{
    background: url("../img/youtube.svg") no-repeat scroll center center / 15vh 15vh;
    top: 50%;
  }

  section.liens a.souncloudLogo{
    background: url("../img/soundcloud.svg") no-repeat scroll center center / 15vh 15vh;
    top: 75%;
  }

  /*fin liens.html*/
  /*début pratique.html*/

  section.concert{
    margin: 5vh auto 0;
    text-align: center;
  }

  section.concert h2,section.concert p,label,legend,input[type="submit"]{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2.25rem;
  }

  section.concert p{
    margin-top: 1em;
    font-size: 1em;
    line-height: 1em;
  }

  label,legend{
    font-size: 1em;
    line-height: 1em;
  }

  form>fieldset>legend{
    font-size: 1.3em;
    border-bottom: none;
    background: #888888;
    padding: 1em 0 0;
    width: 100%;
  }

  form{
    margin-top: 2em;
  }

  label{
    line-height: 0.9em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  fieldset>fieldset legend{
    font-size: 0;
    position: absolute;
  }

  fieldset{
    background: #888888;
  }

  fieldset>fieldset legend{
    left: 45.2%;
    margin-bottom: 0.2em;
  }

  fieldset:first-child{
    padding-top: 3em;
  }

  input{
    width: 70%;
    margin-bottom: 1.5rem;
    padding: 1em;
    font-size: 0.75em;
  }

  input[type="submit"]{
    background-color: #6E2121;
    color: white;
    margin-left: 15.5%;
    border: none;
    width: 73%;
    padding: 0.2em 0;
    cursor: pointer;
    font-size: 1.5em;
  }

  input:focus{
    outline:none;
    border:2px solid #6E2121;
  }

  /*fin pratique.html*/
  /*début bibliographie.html*/

  section.containerBiblio{
      margin-top: 12.5vh;
  }

  section.containerBiblio h2{
      font-size: 0;
      position: absolute;
  }

  section.containerBiblio section{
      box-sizing:border-box;
      border: 1vh solid white;
      border-right: none;
      border-bottom: none;
      width: 100%;
      height: 100%;

  }

  section.containerBiblio section div{
      box-sizing:border-box;
      display: inline-block;
      width: 50%;
      max-height: 300px;
      vertical-align: bottom;
  }

  section.containerBiblio section div:first-of-type{
      text-align: center;
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      background-color: rgba(0,0,0,0.8);
      -moz-transition:all 0.3s ease-out;
      -webkit-transition:all 0.3s ease-out;
      -safari-transition:all 0.3s ease-out;
      transition:all 0.3s ease-out;
      border-right: 0.5vh solid white;
  }

  section.containerBiblio section div:first-of-type:hover{
      background-color: rgba(0,0,0,0.5);
      -moz-transition:all 0.3s ease-in;
      -webkit-transition:all 0.3s ease-in;
      -safari-transition:all 0.3s ease-in;
      transition:all 0.3s ease-in;
  }

  section.containerBiblio section div:nth-of-type(2){
      overflow-y: scroll;
      padding: 0 5%;
      background-color: rgba(136,136,136,0.8);
      border-left: 0.5vh solid white;
    }

  section.containerBiblio section div:nth-of-type(2) p{
      padding-bottom: 10em;
      text-shadow: 0.1em 0.1em black;
  }

  section.containerBiblio section div h3{
      display: inline-block;
      vertical-align: bottom;
  }
}
