@charset "UTF-8";
/* Modus Versus Slicing
 *
 * /sass/settings/_paths.scss - Global paths variables
 *
 * coded by leny@flatLand!
 * started at 16/02/2016
 */
@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Glyphs';
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"), url("../assets/fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../assets/fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../assets/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  font: normal 10px "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: white; }

h1 {
  font-size: 6rem;
  font-size: 10.5vh;
  line-height: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.7); }
  h1 .header__heading-band-name {
    display: block; }
  h1 span.not-home {
    font-size: 0;
    position: absolute; }

@media screen and (max-width: 1352px) {
  h1 .header__not-for-mobile {
    position: absolute;
    font-size: 0; } }

h2, h3 {
  position: absolute;
  font-size: 0; }

a {
  color: white;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

p {
  color: black;
  font-size: 1.6rem;
  line-height: 2.2rem;
  width: 700px;
  padding: 5rem;
  margin: 0 auto; }

@media screen and (max-width: 720px) {
  p {
    width: 100%;
    padding: 5rem 2.5rem; } }

::-webkit-input-placeholder {
  color: #1E2028; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #1E2028; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #1E2028; }

:-ms-input-placeholder {
  color: #1E2028; }

.topbar {
  position: fixed;
  z-index: 100;
  width: 100%; }

.navigation__list {
  float: right;
  margin-right: 5%; }

.navigation__elt {
  float: left; }

.navigation__link {
  display: inline-block;
  line-height: 4.8rem;
  min-width: 100px; }

@media screen and (max-width: 1134px) {
  .navigation__menu-label:before {
    position: fixed;
    top: 1rem;
    left: 5%;
    z-index: 2;
    display: block; }
  .navigation__list {
    position: absolute;
    top: -10000001%;
    margin: 0 auto;
    min-width: 100%; }
  .navigation__elt {
    float: none; }
    .navigation__elt:first-of-type {
      margin-top: 5rem;
      margin-top: 20vh; }
    .navigation__elt:last-of-type {
      margin-bottom: 5rem;
      margin-bottom: 20vh; }
  #navigation:checked + .navigation__list {
    top: 0; } }

.next-concert {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%; }
  .next-concert__link {
    position: relative;
    display: inline-block;
    outline: 0;
    overflow: hidden;
    z-index: 1; }
  .next-concert__link:hover:before, .next-concert__link:active:before, .next-concert__link:focus:before {
    top: 0; }

.member-description__img {
  vertical-align: middle;
  margin: 5rem 0;
  width: 30%;
  height: auto; }

.member-description__text {
  display: inline-block;
  vertical-align: middle; }

.footer {
  text-align: center;
  margin: 0; }

.container:after {
  content: "";
  display: table;
  clear: both; }

.picture {
  float: left;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  overflow: hidden; }
  .picture__link {
    float: left;
    display: block;
    width: 100%;
    padding-bottom: 100%; }
    .picture__link[href="#picture1"] {
      background: url(../assets/img/1.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture2"] {
      background: url(../assets/img/2.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture3"] {
      background: url(../assets/img/3.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture4"] {
      background: url(../assets/img/4.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture5"] {
      background: url(../assets/img/5.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture6"] {
      background: url(../assets/img/6.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture7"] {
      background: url(../assets/img/7.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link[href="#picture8"] {
      background: url(../assets/img/8.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .picture__link:hover:after, .picture__link:active:after, .picture__link:focus:after {
      content: "";
      display: block;
      width: 25%;
      padding-bottom: 25%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5); }
  .picture__max-img {
    width: 0; }
  .picture__target:target {
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #1e2028;
    width: 100%; }
    .picture__target:target img {
      display: block;
      margin: 0 auto;
      width: 50%;
      height: auto; }
    .picture__target:target a {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0; }
      .picture__target:target a:active, .picture__target:target a:focus {
        background: rgba(0, 0, 0, 0.5); }
      .picture__target:target a:active:before, .picture__target:target a:focus:before {
        content: "";
        display: block;
        height: 100%;
        width: 0.2rem;
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 0;
        background: white;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .picture__target:target a:active:after, .picture__target:target a:focus:after {
        content: "";
        display: block;
        height: 100%;
        width: 0.2rem;
        position: absolute;
        z-index: 4;
        left: 50%;
        top: 0;
        background: white;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .picture__target:target div {
      position: absolute;
      width: 100%;
      background-color: #1e2028; }
    .picture__target:target p {
      color: white; }

@media screen and (max-width: 1352px) {
  .picture {
    width: 50%;
    padding-bottom: 50%; }
    .picture__link:hover:after, .picture__link:focus:after {
      width: 50%;
      padding-bottom: 50%; }
    .picture__target:target img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto; } }

@media screen and (max-width: 414px) {
  .picture {
    width: 100%;
    padding-bottom: 100%; }
    .picture__link:hover:after, .picture__link:focus:after {
      width: 100%;
      padding-bottom: 100%; }
    .picture__target:target img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto; } }

.song {
  max-width: 80%;
  margin: 0 auto;
  text-align: center; }
  .song__label-checkbox {
    position: relative;
    display: block; }
  .song__checkbox {
    position: absolute;
    left: -10001%; }
    .song__checkbox:checked + div {
      position: static; }
  .song__target {
    position: absolute;
    left: -100001%; }
    .song__target p {
      max-width: 100%; }
  .song__lyrics:last-of-type {
    margin-bottom: 8rem; }

.song + .song {
  margin-top: 1rem; }

.song:last-child .song__lyrics:last-of-type {
  margin-bottom: 0; }

.social-media {
  margin: 5rem auto 0;
  width: 80%; }
  .social-media:after {
    content: "";
    display: table;
    clear: both; }
  .social-media a {
    float: left;
    display: block;
    width: 29.16666666666667%;
    height: 0;
    padding-bottom: 29.16666666666667%; }
  .social-media a + a {
    margin-left: 6.25%; }

.contact {
  padding-top: 5rem;
  width: 80%;
  max-width: 700px;
  margin: 0 auto; }
  .contact__elt:last-child label {
    position: absolute;
    left: -101%; }
  .contact__elt + .contact__elt {
    margin-top: 1rem; }
  .contact__label {
    min-width: 131.634px;
    display: inline-block; }
  .contact__input {
    box-sizing: border-box;
    float: right;
    display: inline-block;
    width: calc(100% - 131.634px); }
  .contact [type="submit"] {
    display: block;
    width: 100%; }

@media screen and (max-width: 375px) {
  .contact {
    width: 100%; } }

.header {
  background: url(../assets/img/couverture.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95%; }

.navigation__menu-label {
  font-size: 0; }

.navigation__menu-burger {
  position: absolute;
  left: -10001%; }

.navigation__list {
  text-align: center; }

.navigation__link {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid grey;
  text-shadow: 0.1rem 0.1rem black; }
  .navigation__link:hover, .navigation__link:active, .navigation__link:focus, .navigation__link[href="#"] {
    border-bottom: 0.2rem solid white; }

@media screen and (max-width: 1134px) {
  .navigation__menu-label:before {
    background-color: black;
    font: 2.4rem "Glyphs";
    content: "";
    line-height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 100%; }
  .navigation__list {
    background-color: black;
    font-size: 2.4rem;
    text-transform: uppercase; }
  .navigation__elt {
    float: none; }
  .navigation__link {
    line-height: 12vh;
    font-size: 1.6rem; } }

.next-concert__link {
  padding: 2rem 4rem;
  font: italic bold 2rem "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  border: 0.2rem white solid;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  animation: bounce .5s ease infinite; }

@keyframes bounce {
  from {
    top: 0px; }
  50% {
    top: 4px; }
  to {
    top: 0px; } }

.next-concert__link:hover, .next-concert__link:active, .next-concert__link:focus {
  color: black;
  border-color: black; }

.next-concert__link:before {
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.5s ease-in; }

.group-description__text {
  max-width: 800px;
  text-align: left; }

.member-description {
  background-color: #D0D0D6;
  text-align: center;
  padding: 0 5%; }
  .member-description__text {
    text-align: left; }
  .member-description__img {
    border-radius: 100%; }

.member-description:nth-child(2n) {
  background-color: #E4E4EB; }

@media screen and (max-width: 1134px) {
  .member-description {
    padding: 0; }
    .member-description__img {
      display: none; }
    .member-description__container {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/img/simon.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .member-description__container p {
        color: white; }
  .member-description + .member-description div {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/david.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .member-description + .member-description + .member-description div {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/dimitri.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .member-description + .member-description + .member-description + .member-description div {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/maxime.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.footer p {
  font-size: 1.4rem; }

.footer a {
  color: black;
  text-decoration: underline; }

.song {
  background-color: #1E2028; }
  .song__label-checkbox {
    font: italic bold 3rem "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8rem 4rem;
    cursor: pointer; }
  @media screen and (max-width: 720px) {
    .song__label-checkbox {
      padding: 8rem 4rem 16rem; } }
  @media screen and (max-width: 320px) {
    .song__label-checkbox {
      padding: 8rem 2rem 16rem; } }
  .song__label-checkbox:after {
    content: "+";
    color: #1E2028;
    border: 0.4rem solid #1E2028;
    display: block;
    position: absolute;
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-style: normal;
    bottom: 0;
    right: 0;
    background-color: white; }
  @media screen and (max-width: 720px) {
    .song__label-checkbox:after {
      width: 100%; } }
  .song__target {
    background-color: white;
    text-align: left; }
  .song__lyrics {
    padding-bottom: 2rem; }
  .song__lyrics + .song__lyrics {
    padding-top: 0; }

.social-media a {
  border-radius: 50%;
  font-size: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.social-media a:first-of-type {
  background: #1e2028 url(../assets/img/facebook.svg) no-repeat center center; }
  .social-media a:first-of-type:hover, .social-media a:first-of-type:active, .social-media a:first-of-type:focus {
    background-color: grey; }

.social-media a:nth-of-type(2) {
  background: #1e2028 url(../assets/img/soundcloud.svg) no-repeat center center; }
  .social-media a:nth-of-type(2):hover, .social-media a:nth-of-type(2):active, .social-media a:nth-of-type(2):focus {
    background-color: grey; }

.social-media a:nth-of-type(3) {
  background: #1e2028 url(../assets/img/youtube.svg) no-repeat center center; }
  .social-media a:nth-of-type(3):hover, .social-media a:nth-of-type(3):active, .social-media a:nth-of-type(3):focus {
    background-color: grey; }

.contact__elt {
  border: 0.1rem solid #1E2028; }

.contact__label {
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem;
  background-color: #1E2028; }

@media screen and (max-width: 375px) {
  .contact__label {
    padding: 2rem 1rem; }
  .contact__input {
    padding: 2rem 1rem; } }

.contact__input {
  border: none;
  padding: 2rem;
  font-size: 1.6rem;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }
  .contact__input:hover, .contact__input:active, .contact__input:focus {
    background-color: #E4E4EB; }

.contact [type="submit"] {
  font: 1.8rem "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2rem;
  background-color: #1E2028;
  color: white;
  border: none;
  cursor: pointer; }
  .contact [type="submit"]:hover, .contact [type="submit"]:active, .contact [type="submit"]:focus {
    background-color: #E4E4EB;
    color: #1E2028; }

.next-concert-description {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */