.next-concert{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10%;

    &__link{
      position: relative;
      display: inline-block;
      outline: 0;
      overflow:hidden;
      z-index: 1;
    }

    &__link:hover:before,&__link:active:before,&__link:focus:before{
      top: 0;
    }

}
