.member-description{

    &__img{
        vertical-align: middle;
        margin: 5rem 0;
        width: 30%;
        height: auto;
    }

    &__text{
        display: inline-block;
        vertical-align: middle;
    }
}

// 
// @media screen and (max-width: 1352px) {
//     .member-description{
//
//         &__text{
//             max-width: 60%;
//         }
//     }
// }
//
// @media screen and (max-width: 720px) {
//     .member-description{
//
//         &__text{
//             max-width: 650px;
//         }
//     }
// }
//
// @media screen and (max-width: 580px) {
//     .member-description{
//
//         &__text{
//             max-width: 500px;
//         }
//     }
// }
