.social-media{
    margin: $margin auto 0;
    width: 80%;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    a{
        float: left;
        display: block;
        width: 29.16666666666667%;
        height: 0;
        padding-bottom: 29.16666666666667%;
    }

    a+a{
        margin-left: 6.25%;
    }
}
