.song{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;

    &__label-checkbox{
        position: relative;
        display: block;
    }

    &__checkbox{
        position: absolute;
        left: -10001%;

        &:checked + div{
            position: static;
        }
    }

    &__target{
        position: absolute;
        left: -100001%;

        p{
            max-width: 100%;
        }
    }

    &__lyrics:last-of-type{
        margin-bottom: 8rem;
    }
}

.song + .song{
    margin-top: 1rem;
}

.song:last-child{
    .song__lyrics:last-of-type{
        margin-bottom: 0;
    }
}
